<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366243424443-ja3kihjg7uqt4bpgvv3vdm4ji6smbdi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366243424443-ja3kihjg7uqt4bpgvv3vdm4ji6smbdi3</string>
	<key>API_KEY</key>
	<string>AIzaSyBqJGqGkHwsX1fij53WgazKL9sSJUM3FGo</string>
	<key>GCM_SENDER_ID</key>
	<string>366243424443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-23.Focus-booster</string>
	<key>PROJECT_ID</key>
	<string>focus-3a925</string>
	<key>STORAGE_BUCKET</key>
	<string>focus-3a925.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366243424443:ios:197c9f62ca13f7c4</string>
	<key>DATABASE_URL</key>
	<string>https://focus-3a925.firebaseio.com</string>
</dict>
</plist>